*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    font-family: sans-serif;
    cursor: none;
}
.container {
    padding: 2rem 4rem;
}
nav img {
    width: 30%;
    height: 30%;
    padding: 1rem;
}
.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.nav-ul {
    display: flex;
    color: black;
    gap: 1rem;
    list-style: none;
    font-weight: bold;
    
}
.nav-ul li {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}
.nav-ul li:hover{
    transform: scale(2);
    font-size: .5rem;
}
.cursor {
    width: 2.5rem;
    height: 2.5rem;
    position:absolute;
    border: 1px solid rgba(0, 0, 0, 0.56);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background,transform;
    transform-origin: 100% 100%;
}
.active {
    transform: scale(2);
    background-color: rgba(0, 255, 255, 0.6);
}